<h2>
  Product Details
</h2>

<div *ngIf="product">
  <h3>
    <a href="{{product.kaspiLink}}">
      {{product.name}}
    </a>
  </h3>
  <div class="flex-container">
    <span>
      <img src="{{product.image}}" [width]=300>
    </span>
    <span>
      <h4>Rating: {{product.rating}}</h4>
      <p>Description: {{product.description}}</p>
    </span>
  </div>
  <share-buttons
    theme="modern-dark"
    [include]="['telegram', 'whatsapp']"
    [showIcon]="true"
    [showText]="false"
    url="{{product.kaspiLink}}"
    description="Look at what I found"
    class="pt-5">
  </share-buttons>
  <button type="button" (click)="addToCart(product)">
    Buy
  </button>
</div>
