.flex-container {
  display: flex;
}

.flex-container > span {
  margin: 10px 10px;
  padding: 10px 20px;
}

button {
  background-color: white;
  font-size: medium;
}

.bi-hand-thumbs-up-fill{
  animation:like 0.5s 1;
  color:red;
  stroke:none;
}
.bi-hand-thumbs-up{
  fill:transparent;
  stroke:black;
  stroke-width:30;
  transition:all 0.5s;
}
@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}
